<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2011-11-01T08:14:32Z</date>
		<key>actualSize</key>
		<integer>7949</integer>
		<key>attributeModDate</key>
		<date>2011-10-27T13:24:21Z</date>
		<key>createDate</key>
		<date>2010-11-10T14:25:26Z</date>
		<key>creationDate</key>
		<date>2011-11-16T06:50:54Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>AA6BC088-87C0-4109-A410-09034CD94F2C</string>
		<key>lastModifiedDate</key>
		<date>2010-11-10T14:25:26Z</date>
		<key>originalPath</key>
		<string>/Users/devendrachaplot/Batch42_CS101_FinalProject_11Nov/Program Files/GamePlayFunctions.h</string>
		<key>originalSize</key>
		<integer>7949</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32275</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>F8365461-7827-4BDE-BF72-0137C6C36F85</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
