<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2011-10-27T14:14:23Z</date>
		<key>actualSize</key>
		<integer>55733</integer>
		<key>attributeModDate</key>
		<date>2011-10-27T13:24:21Z</date>
		<key>createDate</key>
		<date>2010-11-10T12:45:59Z</date>
		<key>creationDate</key>
		<date>2011-11-16T06:50:54Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>A95C5877-6C8B-4F57-87E7-A97F31733831</string>
		<key>lastModifiedDate</key>
		<date>2010-11-10T12:45:59Z</date>
		<key>originalPath</key>
		<string>/Users/devendrachaplot/Batch42_CS101_FinalProject_11Nov/Program Files/SelectTankType.xpm</string>
		<key>originalSize</key>
		<integer>55733</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>557A8B61-3EA0-42B3-9F8E-AF56035DDA07</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
