<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2011-10-27T14:14:24Z</date>
		<key>actualSize</key>
		<integer>21178</integer>
		<key>attributeModDate</key>
		<date>2011-10-27T13:24:22Z</date>
		<key>createDate</key>
		<date>2010-11-09T21:50:15Z</date>
		<key>creationDate</key>
		<date>2011-11-16T06:51:06Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>1F03B8F8-002A-44AD-AEBD-DD1E826DF80A</string>
		<key>lastModifiedDate</key>
		<date>2010-11-09T21:50:15Z</date>
		<key>originalPath</key>
		<string>/Users/devendrachaplot/Batch42_CS101_FinalProject_11Nov/Program Files/WeaponName1.xpm</string>
		<key>originalSize</key>
		<integer>21178</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32275</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>56C895F1-C2ED-476B-9509-A54C9488179A</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
