<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2011-10-27T14:14:24Z</date>
		<key>actualSize</key>
		<integer>29462</integer>
		<key>attributeModDate</key>
		<date>2011-10-27T13:24:21Z</date>
		<key>createDate</key>
		<date>2010-11-07T04:43:43Z</date>
		<key>creationDate</key>
		<date>2011-11-16T06:50:54Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>A371A381-CCFF-496E-9AEA-A4425E1EC3AF</string>
		<key>lastModifiedDate</key>
		<date>2010-11-07T04:43:43Z</date>
		<key>originalPath</key>
		<string>/Users/devendrachaplot/Batch42_CS101_FinalProject_11Nov/Program Files/HighScores1.xpm</string>
		<key>originalSize</key>
		<integer>29462</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32275</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>15EA4074-32DD-4FD8-9AB5-C40E09DF4D30</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
