<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2011-10-27T14:14:21Z</date>
		<key>actualSize</key>
		<integer>18313</integer>
		<key>attributeModDate</key>
		<date>2011-10-27T13:24:21Z</date>
		<key>createDate</key>
		<date>2010-11-10T12:40:28Z</date>
		<key>creationDate</key>
		<date>2011-11-16T06:50:46Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>AAA526B4-6856-4A5B-BFB9-FB86F3920AB5</string>
		<key>lastModifiedDate</key>
		<date>2010-11-10T12:40:28Z</date>
		<key>originalPath</key>
		<string>/Users/devendrachaplot/Batch42_CS101_FinalProject_11Nov/Program Files/CaptionPlayer1.xpm</string>
		<key>originalSize</key>
		<integer>18313</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>C55953F4-E52A-4C8D-95DC-B5A326CFA84E</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
