<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2011-10-27T14:14:23Z</date>
		<key>actualSize</key>
		<integer>21178</integer>
		<key>attributeModDate</key>
		<date>2011-10-27T13:24:21Z</date>
		<key>createDate</key>
		<date>2010-11-09T21:50:39Z</date>
		<key>creationDate</key>
		<date>2011-11-16T06:51:06Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>E7D21DF4-AF18-4A24-9644-F8BDC82EA391</string>
		<key>lastModifiedDate</key>
		<date>2010-11-09T21:50:39Z</date>
		<key>originalPath</key>
		<string>/Users/devendrachaplot/Batch42_CS101_FinalProject_11Nov/Program Files/WeaponName3.xpm</string>
		<key>originalSize</key>
		<integer>21178</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32275</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>2525F02D-B62F-48A3-A42E-768C47D5766D</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
