<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2011-10-27T14:14:21Z</date>
		<key>actualSize</key>
		<integer>1696894</integer>
		<key>attributeModDate</key>
		<date>2011-10-27T13:24:21Z</date>
		<key>createDate</key>
		<date>2010-11-01T22:01:50Z</date>
		<key>creationDate</key>
		<date>2011-11-16T06:51:06Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>A94B0FD2-F001-4662-935D-FDF4479A3418</string>
		<key>lastModifiedDate</key>
		<date>2010-11-01T22:01:50Z</date>
		<key>originalPath</key>
		<string>/Users/devendrachaplot/Batch42_CS101_FinalProject_11Nov/Program Files/WeaponShopBackground1.xpm</string>
		<key>originalSize</key>
		<integer>1696894</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32275</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>F1788817-06C7-4BDB-8812-8046A050ECA1</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
