<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2011-07-15T18:03:55Z</date>
		<key>actualSize</key>
		<integer>52645</integer>
		<key>attributeModDate</key>
		<date>2011-01-28T14:56:34Z</date>
		<key>createDate</key>
		<date>2011-01-28T14:56:34Z</date>
		<key>creationDate</key>
		<date>2011-11-16T06:38:35Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>DED3B091-4854-4810-BDA6-23112DF7C3D5</string>
		<key>lastModifiedDate</key>
		<date>2011-01-28T14:56:34Z</date>
		<key>originalPath</key>
		<string>/Users/devendrachaplot/Pictures/Battle Tanks/Weapon Shop.jpg</string>
		<key>originalSize</key>
		<integer>52645</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>7E813112-9CA6-4BA4-B913-46EAEB2A75F4</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
