<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2011-07-15T18:03:22Z</date>
		<key>actualSize</key>
		<integer>32610</integer>
		<key>attributeModDate</key>
		<date>2011-01-28T14:55:56Z</date>
		<key>createDate</key>
		<date>2011-01-28T14:55:56Z</date>
		<key>creationDate</key>
		<date>2011-11-16T06:38:35Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>9C233BDB-971E-4182-A8FC-EF9FB72DBA7C</string>
		<key>lastModifiedDate</key>
		<date>2011-01-28T14:55:56Z</date>
		<key>originalPath</key>
		<string>/Users/devendrachaplot/Pictures/Battle Tanks/High Scores.jpg</string>
		<key>originalSize</key>
		<integer>32610</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>2E4076EE-B694-41B7-B28A-CB7B07A232DA</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
